<h1>Test Page</h1>

<p>This component is testing a view.</p>


<div>
    <label>Album Search</label>
    <input data-bind="value: albumName"/>
    <button data-bind="click: callAPI">Search For Album</button>
</div>

<div data-bind="foreach: albums">
    <a data-bind="attr: {href:'/album-details/' + id}">
        <h3>Album Title:<span data-bind="text: name"></span></h3>
    </a>
        <h3 data-bind="foreach: artists">By: <span data-bind="text: name"></span></h3>
        <img style="height: 300px; width: 300px;" data-bind="attr: {src: images[1].url}" />
</div>
